*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    height: 75vh;
    background:linear-gradient(to top,rgba(0, 0, 0, 0.76)50%,rgba(0,0,0,0.76)50%),url(/netflix/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-around;
}
.logo{
    padding-right:9rem;
    padding-top: .5rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    color:rgba(229, 9, 20, 1);
}
.lang select{
    margin: 10px;
    padding:6px;
    width: 9rem;
    font-family: sans-serif;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
.lang a{
    text-decoration: none;
    background-color:rgba(229, 9, 20, 1);
    padding: 8px;
    font-family: sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border-radius: 5px;

}
.lang a:hover{
    background-color:rgb(201, 23, 32) ;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}
.intro h1{
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom:1rem ;
    color: white;
}
.intro .first{
    font-family: sans-serif;
    font-size: 1.4rem;
    padding-bottom:1rem ;
    color: white;
}
.intro .sec{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: white;
}
.emailadd{
    padding:1rem;
    width: 20rem;
    font-size: 1rem;
    border-radius: 5px;
}
.start{
    text-decoration: none;
    color: white;
    font-size:1.2rem;
    font-weight: bolder;
    background-color: rgba(229, 9, 20, 1);
    padding:1rem;
    width: 23rem;
    border-radius: .2rem;
}
.start:hover{
    background-color: rgb(187, 12, 20);
}
.one{
    background-color: black;
    height:35rem;

}
.sectone{
    font-family: sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    color: white;
    position: relative;
    top: 15rem;
    left: 25rem;
}
.sectone p{
    padding-top: 1rem;
}
.tv img{
    height:400px;
    width: 500px;
    position: absolute;
    right:25rem;
    padding-bottom: 2rem;
}
.secttwo{
    font-family: sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    color: white;
    position:relative;
    top: 15rem;
    left:50%;
}
.secttwo p{
    padding-top: 1rem;
}
.tv2 img{
    height:400px;
    width: 500px;
    position: absolute;
    left: 25rem;
}
.faq{
    height: 100vh;
    background-color: black;
}
.faq h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight:900;
    padding:3rem 0rem 1rem  0rem;
}
.accordion {
    background-color: #0f0e0e75;
    color: #ffffff;
    cursor: pointer;
    padding:30px;
    width:70%;
    margin:0px 15%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
  }
  
  .accordion:hover {
    background-color: #ffffffa4; 
  }
  
  .panel {
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    width: 70%;
    margin:0px 15%;
    padding: 0 18px;
    display: none;
    background-color:#181616c0;
    overflow: hidden;
  }
  .sec2{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    color: white;
    text-align: center;
  }
  .inputs2{
    position: absolute;
    right:40%;

  }
  footer{
    height: 50vh;
    color: white;
    background-color: black;
  }
  .ques{
    padding: 3rem 0rem 2rem 23rem;
  }
  .ques a{
    color: rgb(206, 203, 203);
  }
  .container{
    display: flex;
    justify-content: space-evenly;
  }
.container a{
    display: block;
}
.list a{
    padding: .5rem;
    color: rgb(204, 196, 196);


}
footer .lang select{
    position: absolute;
    left: 22rem;
    margin-top: 2rem;
}