* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Apex-font;
    src: url(./Apex-Font/Apex\ Regular.otf);
}

body {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navbar */
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-size: .8rem;
    transition: .5s;
    font-family: 'Apex-font';
    font-weight: lighter;
    letter-spacing: 2px;
}

.logo {
    padding: 0.5rem;
}

.download {
    padding: 0.5rem;
}

.download a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(255, 0, 0, 0.836);
    padding: 0.9rem;
    display: inline-block;
}

.nav-links a:hover {
    color: rgba(255, 0, 0, 0.877);
}

/* Section first */
.container1 {
    min-height: 530px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0,0,0,0.5)50%), url(./apex/backg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.para p {
    color: #f3f3f3;
    font-size: 1rem;
    line-height: 1.5;
}

.btns {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btns a {
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: .3s;
    margin: 0.5rem;
}

/* Section second */
.container2 {
    min-height: 430px;
    background-image: url(./apex/firstsection.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.takeys h1 {
    font-family: 'Apex-font';
    letter-spacing: 2px;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.para2 p {
    color: #f3f3f3;
    font-size: 1rem;
    line-height: 1.5;
}

.btn2 {
    margin-top: 2rem;
}

.btn2 a {
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: .3s;
}

/* Section third */
.container3 {
    min-height: 430px;
    background-image: url(./apex/secondsection.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.mix h1 {
    font-family: 'Apex-font';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.para3 p {
    color: #00000081;
    font-size: 1rem;
    line-height: 1.5;
}

.btn3 {
    margin-top: 2rem;
}

.btn3 a {
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    color: rgb(31, 24, 24);
    font-size: 1rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: .3s;
}

/* Section fourth */
.container4 {
    min-height: 840px;
    background-image: url(./apex/back3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    width: 100%;
    max-width: 375px;
    background-color: rgb(26, 22, 22);
    box-shadow: 5px 10px red;
    margin: 1rem;
}

.info span {
    color: rgb(255, 0, 0);
}

.info p {
    color: white;
    padding: 1rem;
}

.gg {
    font-family: 'Apex-font';
    letter-spacing: 2px;
    font-size: 1.25rem;
}

.pp {
    font-size: 1.25rem;
}

.latest h1 {
    font-family: 'Apex-font';
    letter-spacing: 2px;
    font-size: 2rem;
    padding: 1rem;
}

/* Section fifth */
.container5 {
    min-height: 700px;
    background-image: url(./apex/forthsec.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.awards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading h2 {
    font-family: 'Apex-font';
    letter-spacing: 2px;
    font-size: 2rem;
    color: #f3f3f3;
    padding-bottom: 1rem;
}

.para4 p {
    color: #f3f3f3;
    font-size: 1.25rem;
    padding: 1rem;
}

.award1 {
    text-align: center;
    margin: 1rem;
    width: 100%;
    max-width: 375px;
}

.award1 h2 {
    font-family: 'Apex-font';
    letter-spacing: 2px;
    font-weight: lighter;
    color: #f3f3f3;
    padding: 1rem;
}

.award1 p {
    color: #f3f3f3;
    font-size: 1.25rem;
    line-height: 2rem;
}

/* Section sixth */
.container6 {
    min-height: 630px;
    background-image: url(./apex/back3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.news, .form {
    margin: 1rem 0;
    max-width: 600px;
    width: 100%;
}

.news h1 {
    font-family: 'Apex-font';
    letter-spacing: 2px;
    font-size: 1.875rem;
    font-weight: lighter;  
    padding-bottom: 2rem;
}

.news p {
    color: rgba(0, 0, 0, 0.733);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    word-spacing: 2px;
    line-height: 2rem;
}

.email, .bday, .country {
    width: 100%;
    max-width: 544px;
    height: 60px;
    padding: 16px 24px;
    font-family: 'Apex-font';
    font-weight: lighter;
    letter-spacing: .5rem;
    border: 1px solid black;
    border-radius: .3rem;
    margin-bottom: 1rem;
}

#sign {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.733);
    font-size: 1.125rem;
    word-spacing: 2px;
    line-height: 1.5rem;
    margin-bottom: 4rem;
}

.signup {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: .3s;
    display: inline-block;
}

.checkbox {
   position: relative;
   top: 4rem;
}

/* Section seventh */
.container7 {
    min-height: 510px;
    background-image: url(./apex/black.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.container7 div {
    padding: 1.5rem;
}

.but a {
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1.125rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: .3s;
    display: inline-block;
}

.title h1 {
    font-family: 'Apex-font';
    color: #f3f3f3;
    font-weight: lighter;
}

.station_names p {
    color: #f3f3f3;
    font-size: 1.5625rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restrict p {
    color: #f3f3f3;
    font-size: 0.875rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* Section eighth */
.container8 {
    min-height: 480px;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.up, .down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links2, .social, .global, .purchase {
    margin: 1rem;
    text-align: center;
}

.links2 a {
    text-decoration: none;
    color: #f3f3f3bb;
    padding: 0.5rem;
    display: inline-block;
}

.links2 a:hover {
    color: red;
}

.social p {
    font-family: 'Apex-font';
    color: white;
    font-size: 0.9375rem;
    font-weight: normal;
    padding-bottom: 1rem;
}

.social i {
    padding: 1rem;
    transition: .3s;
}

.social i:hover {
    transform: scale(1.2);
}

/* Section ninth */
.container9 {
    min-height: 250px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.links3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links3 a {
    text-decoration: none;
    color: #363131bb;
    padding: 0.5rem;
    font-size: 1.125rem;
}

.container9 select {
    font-size: 1.125rem;
    width: 100%;
    max-width: 256px;
    height: 60px;
    border: 1px solid rgb(29, 28, 28);
    border-radius: .3rem;
    margin: 1rem 0;
}

.policy {
    text-align: center;
}

.policy a {
    text-decoration: none;
    color: #363131bb;
    padding: 0.5rem;
    font-size: 1rem;
    display: inline-block;
}

.policy p {
    color: #363131bb;
    padding: 0.5rem;
    font-size: 1rem;
}
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}
.hamburger-menu {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: .5s;
    font-family: 'Apex-font';
    font-weight: lighter;
    letter-spacing: 2px;
}

.nav-links a:hover {
    color: rgba(255, 0, 0, 0.877);
}

.download a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(255, 0, 0, 0.836);
    padding: 0.9rem;
    display: inline-block;
}



@media (min-width: 1024px) {
    .links a {
        font-size: .5rem;
    }

    .takeys h1, .mix h1, .latest h1 {
        font-size: 2.5rem;
    }

    .heading h2 {
        font-size: 2.375rem;
    }
}

@media (max-width: 1024px) {
    .hamburger-menu {
        display: block;
    }
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        z-index: 99;
    }
    .nav-links.active {
        display: flex;
    }
    .download {
        margin-top: 1rem;
    }
}
/* Media Queries */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
    .info, .award1 {
        width: calc(33.33% - 2rem);
    }

    .container6 {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .news, .form {
        width: 45%;
    }

    .bday, .country {
        width: calc(50% - 0.9rem);
    }
}
